{
  "openapi": "3.0.3",
  "info": {
    "title": "Vinteddu",
    "version": "1.0.0",
    "description": "API for Vinted, a marketplace for second-hand clothes"
  },
  "servers": [
    {
      "url": "https://api.vinted.com"
    }
  ],
  "paths": {
    "/items": {
      "get": {
        "summary": "Get a list of items",
        "description": "Returns a list of available items",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new item",
        "description": "Creates a new item listing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewItem"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item created successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete all items",
        "description": "Deletes all items",
        "responses": {
          "204": {
            "description": "Items deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
          // Additional properties for an item
        }
      },
      "NewItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
          // Additional properties for creating a new item
        },
        "required": ["title", "price"]
      }
    }
  }
}
